#intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 50px;
    margin-bottom: 200px;
}

.photo-roulette {
    position: relative;
    width: 400px;
    height: 600px;
    left: 60px;
    border-radius: 50px;
    box-shadow: -10px 8px 18px 0px rgba(0, 0, 0, 0.25);
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3.2s ease-in-out;
}

.photo-1 {
    opacity: 1;
}

.photo.active {
    opacity: 1;
}

.photo.initial {
    transition: none;
}

.intro-text p{
    font-weight: 400;
    width: 300px;
    position: relative;
    margin-right: 50px;
    text-align: center;
}

.name-highlight {
    color: var(--pink);
}

.scrolldown {
    opacity: 1; 
    transition: opacity 0.5s ease; 
}

.arrow-1 {
    position: absolute;
    left: 50%;
    top: 760px;
    border: solid var(--purple);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    animation: scroll 1.8s ease-in-out infinite;
    animation-delay: 0.14s;
}

.arrow-2 {
    position: absolute;
    left: 50%;
    top: 772px;
    border: solid var(--purple);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    animation: scroll 1.8s ease-in-out infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
    50% {
        opacity: 1;
        transform: translateY(10px) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translateY(20px) rotate(45deg);
    }
}

.cs-text {
    display: flex;
    justify-content: center;
    color: var(--purple);
    margin-bottom: 24px;
}

#williams {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 400px;
    background: 
        linear-gradient(to bottom, #3b0066 5%, #500082 15%, #500082);
    overflow: hidden;
    text-decoration: none;
    color: white; /* Inherit text color */
}

#williams-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    transition: transform 0.34s ease;
    z-index: 2; /* Ensure it is above the image */
}

#williams-picture {
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    object-fit: cover;
    transition: width 0.34s ease;
    z-index: 1; /* Ensure it is below the logo */
}

/* Hover Effect */
#williams.active #williams-logo {
    transform: translateX(-25%); /* Keeps the logo shifted left */
}

#williams.active #williams-picture {
    width: 50%; /* Keeps the picture visible */
}

.currently-text {
    display: flex;
    justify-content: center;
    color: white;
    margin: 10px;
}

#berkeley {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center;
    position: relative;
    width: 100%;
    height: 400px;
    background: 
        linear-gradient(to top, #001A4D 5%, #002676 15%, #002676);
    overflow: hidden;
    text-decoration: none;
    color: white; /* Inherit text color */
}

#berkeley-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    transition: transform 0.34s ease;
    z-index: 2; /* Ensure it is above the image */
}

#berkeley-picture {
    position: absolute;
    left: 0; /* Position the campus picture on the left */
    width: 0;
    height: 100%;
    object-fit: cover;
    transition: width 0.34s ease;
    z-index: 1; /* Ensure it is below the logo */
}

/* Hover Effect */
#berkeley.active #berkeley-logo {
    transform: translateX(25%); /* Keeps the logo shifted right */
}

#berkeley.active #berkeley-picture {
    width: 50%; /* Keeps the picture visible */
}

#williams-logo,
#williams-picture,
#berkeley-logo,
#berkeley-picture {
    transition: all 0.34s ease;
}
