* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: white;
}

.header {
    border-bottom: 0.5px solid black;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.logo img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.menu {
    color: #06CDFF;
    font-size: 18px;
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.container {
    font-size: 40px;
    font-weight: 300;
    color: #06CDFF;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0 auto;
    margin-top: -50px;
}


.image img {
    width: 284px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.coming-soon {
    white-space: nowrap;
}

.linkedin {
    background-color: #06CDFF;
    border: 2px solid;
    border-radius: 14px;
    font-size: 24px;
    color: white;
    padding: 22px 18px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.linkedin:hover{
    background-color: white;
    color: #06CDFF;
    transform: scale(1.05);
}

@media only screen and (max-width: 480px) {
    .container {
        font-size: 34px;
        font-weight: 300;
        color: #06CDFF;
        text-align: center; 
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
        margin: 0 auto;
        margin-top: -50px;
    }
    
    .image img {
        width: 225px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    
    .linkedin {
        font-size: 18px; /* smaller font size */
        padding: 18px 14px; /* smaller padding */
        border-radius: 14px;
    }
}