/* Header styles */
header {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Bitter';
}

header h1 {
    font-size: 32px;
    font-weight: 350;
    margin: 0;
}

header h1 a {
    color: var(--blue);
    text-decoration: none;
    transition: color 0.2s ease;
}

header h1 a:hover {
    color: var(--darker-blue);
}

nav {
    padding-top: 6.8px;
}

nav.menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 24px;
    font-size: 24px;
    font-weight: 400;
}

nav.menu a {
    color: var(--blue);
    text-decoration: none;
    transition: color 0.2s ease;
}

nav.menu a:hover {
    color: var(--darker-blue);
}

.contact-button {
    position: fixed;
    bottom: 24px;
    right: 40px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: var(--blue);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    z-index: 1000;
}

.contact-button:hover {
    background-color: var(--darker-blue);
}

.contact-button img {
    position: relative;
    left: 8px;
    width: 40px;
}

/* Modal styles */
.contact-modal {
    border: none;
    border-radius: 25px;
    width: 80%;
    max-width: 540px;
    margin: auto;
    opacity: 0; /* Initially hidden */
    transform: translateY(-50%); /* Initial position */
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.contact-modal.show {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Slide down */
}

.modal-content {
    text-align: right;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.modal-header {
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    color: var(--blue);
    text-decoration: underline;
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #aaa;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.social-logo {
    width: 60px;
}

.contact-item a {
    color: inherit;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-item p {
    text-align: right;
}

header a.active {
    text-decoration: underline;
}